torch_geometric==2.4.0
torch-cluster==1.6.3 -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
torch-scatter==2.1.2 -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
torch-sparse==0.6.18 -f https://data.pyg.org/whl/torch-2.1.0+cpu.html
torch-spline-conv==1.2.2 -f https://data.pyg.org/whl/torch-2.1.0+cpu.html